{%extends 'blog/header.html'%}
{% load crispy_forms_tags  %}
{% block content %}

<div class="container">
            <h2>Confirm Delete</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <p>Are you sure you want to delete: "{{object.content}}"?</p>
                <input type="submit" value="Confirm" class="btn btn-warning">
                <a href="{{object.get_absolute_url}}" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </blockquote>
     

    </div>
{% endblock content %}