{% block content %}
<footer class="site-footer myfooter">
<!-- star footer-->
    <div class="footer">
    <div class="container">
        <span>Powered by Mhadi Ahmed &copy; 2016-2017</span>
        <ul>
        <li><i class="fa fa-facebook-square fa-lg"></i></li>
        <li><i class="fa fa-google-plus-square fa-lg"></i></li>
        <li><i class="fa fa-linkedin-square fa-lg"></i></li>
        <li><i class="fa fa-twitter-square fa-lg"></i></li>
        </ul>
        
        </div>
    </div>
<!-- end footer -->
</footer>
{% endblock content %}